* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 58, 58);
}

nav {
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    background-color: #000;
    height: 75px;
}

.rect {
    display: inline-block;
    margin-top: 5px;
    border: 2px solid rgb(190, 190, 190);
    margin-right: 100px;
}

.rect li {
    float: left;
    color: rgb(255, 76, 178);
    width: 300px;
    height: 50px;
    line-height: 43px;
    background-color: rgb(80, 80, 80);
    cursor: default;
    font-size: 30px;

}

.liste {
    transform: scale(0);
    padding-top: 10px;
}

.liste li {
    font-size: 14px;
    background: rgb(60, 60, 60);
    border: 1px solid rgb(190, 190, 190);
}

.liste a {
    color: rgb(255, 76, 178);
}

.rect:hover {
    border-color: deeppink;
}

.rect li:hover {
    background: rgb(40, 40, 40);
}

.liste li:hover {
    background: rgb(40, 40, 40);
    border-color: deeppink;
}

.rect>li:hover .liste li {
    transform: scale(1);
}

.rect>li:hover .liste {
    transform: scale(1);
}